# Ensure that the <projRoot>/subscriptions directory 
# is present in the repo and any clones, but that
# no content (the actual LTI subscriptions files)
# are uploaded to the directory, other than this 
# .gitignore itself, and the README.txt.

*

!.gitignore
!README.txt